
/* ===================================================================== */
/*   Layout Stylesheet
/* ===================================================================== 

   Table Of Contents:
   a. General
   b. Navbar
   c. Home
   d. About


/* ===================================================================== */


/* ------------------------------------------------------------------ */
/* a. General
/* ------------------------------------------------------------------ */


/* html, body, #root{

  
   height: max-content;
   
  
} */
html{
   height: 100%;
}
html, body, #root{
   min-height: 100%;
}


body{   /* why does body do the trick buy container doesnt */
   background-color: black;  
   /* padding: 14px 16px;   */
   color: white; 
  



 }

 #root {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    

 }

body a{
   text-decoration: none;
   color: white;

}

.curr{  

   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   padding-bottom: 50px;
   

 

}

Footer{
   display: flex;
   justify-content: space-between;
   position: fixed; /* instead of absolute */
   bottom: 0;
   padding-left: 5px;
   width: 100%;
   height: 50px;
   background-color: black;
   border-top: 2px solid white;
   
}

.socialLinks{
   
   padding: 14px;

   
}


.pageSummary{
   display:flex;
   justify-content: center;

   
   background-color: rgb(19, 34, 38);
   /* width: 100%; */
   padding: 32px;
   border-bottom: 2px solid #ffffff; 
}
.pageSummary .container{
   display: flex;
   align-items: center;
   flex-direction: column;  
   max-width: 608px;
   font-size: 1.25rem;
}
.pageSummary .container img{

   width: 100px;
   height: 100px;
   background-color: white;
   border-radius: 50%;
   padding: 2px;
}

.pageSummary .container h1{
   margin: 0;
   font-size: 3rem;
}

/* ------------------------------------------------------------------ */
/* b. navbar
/* ------------------------------------------------------------------ */


nav {
   
   /* justify-content: stretch; */
   display: flex;
   flex-direction: row;

   border-bottom: 2px solid rgb(255, 255, 255);
   /* border-radius: 15px; */
   align-content: center;

}
nav .dropbtn {
   display: none;
}
 
/* Style the links inside the navigation bar */
nav .links {
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 width: 100%;
 
 /* float: right; */
 /* text-align: end; */
 padding: 14px 16px;

 font-size: 18px;
 
}

/* Change the color of links on hover */
nav .links a:hover {
 font-size:24px;
}
nav .links a{
   margin-left: 14px;
   
   /* margin: 14px; */
}




nav .AraMatthew {
   align-self: center;
   text-decoration: none;
   padding: 10px 12px;
   color: #ffffff;
   float: left;
   font-size: 32px;

   
}









nav .boldBlue{
   font-size: larger;
   color: rgb(19, 34, 38);
   background-color: white;
}

/* ------------------------------------------------------------------ */
/* c. home
/* ------------------------------------------------------------------ */

#home{
  
   align-self: baseline;
   margin-top: 150px;
   
   font-size: xx-large;
   text-align: center;
   margin-left: 150px;
   margin-right: 150px;

}







/* ------------------------------------------------------------------ */
/* d. About
/* ------------------------------------------------------------------ */



#about{
   
   margin: 20px;
   width: 700px;

   /* centered in parent element */
   position: relative; 
   left: 50%;
   transform: translateX(-50%);

   display: flex;
  
   flex-direction: row;

  
}
#about .profile-pic {

   border: 2px solid white;
   align-self: stretch;
   height: 300px;
   margin-right: 20px;
   border-radius: 20px;

 
 }


 #about .feed{
    align-self: stretch;
    font-size: x-large;
 }

 #about h1{
    margin: 0;
    font-size: xx-large;
 }
#about p{
   font-size: 1rem;
}


/* ------------------------------------------------------------------ */
/* e. projects / experience 
/* ------------------------------------------------------------------ */



#projectspage{

   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items:  center;
  
   




}



#projectspage .project{

   
   max-width: 608px;
   /* width: min-content; */
   display: flex;
   display: row;
   align-items: flex-start;


   padding-top: 32px;
   padding-bottom: 32px;


   border-bottom: 5px solid white;
   /* border-bottom-style: double; */
   border-width: 1px;
   border-spacing: 15px;
}

#projectspage .project .gif{
  
   opacity: 100;

   width: 190px;
   /* object-fit: contain; */
   object-fit: cover;
   border-radius: 10%; 

   padding-left: 16;
   padding-right: 16px;
}

#projectspage .project .information{

  
   display: flex;
   flex-direction: column;
   height: auto;
   /* width: 300px; */
   margin-left: 14px;
}
#projectspage .project .information .projName{
   font-size: 1.75rem;
   margin-top: 0px;
   margin-bottom: 0px;
}
#projectspage .project .information text{
   font-size: .75rem;
}
#projectspage .project .information p{
   font-size: 1rem;
}



/* ------------------------------------------------------------------ */
/* f. experience
/* ------------------------------------------------------------------ */

#experiencepage{

   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items:  center;
  
   




}

#experiencepage .link{

   
   max-width: 608px;
   /* width: min-content; */
   display: flex;
   display: row;
   align-items: flex-start;


   padding-top: 32px;
   padding-bottom: 32px;


   border-bottom: 5px solid white;
   /* border-bottom-style: double; */
   border-width: 1px;
   border-spacing: 15px;
}

#experiencepage .link .gif{
  
   opacity: 100;

   /*  */
   /* object-fit: contain; */
   /* object-fit: cover; */
   border-radius: 10%; 

   padding-right: 16px;
}

#experiencepage .link .info{

  
   display: flex;
   flex-direction: column;
   height: auto;
   /* width: 300px; */
   margin-left: 14px;
}
#experiencepage .link .info .position{
   font-size: 1.75rem;
   margin-top: 0px;
   margin-bottom: 0px;
}
#experiencepage .link .info p{
   font-size: 1rem;
}






/* ------------------------------------------------------------------ */
/* g. contact
/* ------------------------------------------------------------------ */



#contact{
   display: flex;
   flex-direction: column;
   align-items: center;

   
}

#contact .title{
   font-size: xx-large;
}

#contact .prompts{
   display: flex;

   flex-direction: row;
   padding: 14px;
   border: 2px solid white;
   border-radius: 14px;
}

#contact .labels{
   font-size: x-large;
   display: flex;
   flex-direction: column;
   padding-right: 14px;
   justify-content: flex-start;

}

#contact .inputs{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
  

}

#contact .submit{
   padding: 14px;
   text-align: center;
}


/* PHONE LAYOUT... */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

@media only screen and (max-width: 600px) {

   /* ------------------------------------------------------------------ */
   /* a. General
   /* ------------------------------------------------------------------ */
   .footer{
      width: 100%;
   }
   
   /* ------------------------------------------------------------------ */
   /* b. Navbar
   /* ------------------------------------------------------------------ */
   /* #navbar .curr{
      width: 80%;
      top: 40%;
   } */



   nav {
      display:flex;
      flex-direction: column;
     

   }

   nav .header{
      display: flex;

      flex-direction: row;
      justify-content: space-between;

   }
 
   .active .links{
      display: flex;
      flex-direction: column;

      
   }


   nav .dropbtn{
      border: none;
      display: block;
      align-self: center;
      margin-right: 14px;
      background: url(./588a64e7d06f6719692a2d11.png);

      width: 50px;
      height: 50px;
      background-size: cover;

     
   }




   nav .links{    /* right side */


      display: none;
      /* visibility: hidden; */

   }
   
 
   nav .links a {
      
      color:white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
     }

     .pageSummary{
        width: auto;
        padding: 32px;
     }

   /* ------------------------------------------------------------------ */
   /* c. Home
   /* ------------------------------------------------------------------ */
   
   #home{
      margin:0px;
      font-size: x-large;
   }
   
   #home h1{
      font-size: xx-large;
   }


   /* ------------------------------------------------------------------ */
   /* d. About
   /* ------------------------------------------------------------------ */

   


   #about {
   
   
      width: auto;
      height: auto;
   
      /* centered in parent element */
      /* position: relative;  */
      /* left: 50%; */
      /* transform: translateX(-50%); */
   
      display: flex;
     
      flex-direction: column;
      margin-left:0;
      
     
   }
   #about .profile-pic{
      order: 1;
   }
   #about .bio{
      margin-top: 10px;
      font-size: medium;
   }

   /* ------------------------------------------------------------------ */
   /* c. Projects
   /* ------------------------------------------------------------------ */

   #projectspage .project{
 
      
      flex-direction: column;
      border-width: 1px;

   }
   #projectspage .projects{
      width: 90%;
   }
   
   #projectspage .project .gif{

      width: 100%;
      height: auto;
      padding-bottom: 10px;
      padding-left: 0;


   }
   /* ------------------------------------------------------------------ */
   /* c. experience
   /* ------------------------------------------------------------------ */
   #experiencepage .link{
 
      width: 90%;
      flex-direction: column;
      border-width: 1px;

   }
   
   #experiencepage .link .gif{

      width: 100%;
      height: auto;
      padding-bottom: 10px;
      padding-right: 0px;


   }


}