/* ===================================================================== */
/*   Layout Stylesheet
/* ===================================================================== 
   Table Of Contents:
   a. General
   b. Navbar
   c. page header
   d. footer
   e. Home
   f. About
   g. projects
   h. Experience
   i. contact
/* ===================================================================== */


/* ------------------------------------------------------------------ */
/* a. General
/* ------------------------------------------------------------------ */

html,body{
   height: 100%;
   margin: 0;
   padding: 0;
}

body{
   background-color: black; 
}
#root {
   box-sizing: border-box;
   min-height: 100%;
   padding: 0 0 100px;
   position: relative;


   background-color: black; /*get rid of later*/
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: white;
}
#root a{
   text-decoration: none;
   color: white;
}

/* ------------------------------------------------------------------ */
/* b. navbar
/* ------------------------------------------------------------------ */
nav {
   display: flex;
   flex-direction: row;
   border-bottom: 2px solid rgb(255, 255, 255);
}

/* Style the links inside the navigation bar */
nav .links {
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 width: 100%;
 padding: 14px 16px;
 font-size: 18px;
}

/* Change the color of links on hover */
nav .links a:hover {
 font-size:24px;
}
nav .links a{
   margin-left: 14px;
}
nav .AraMatthew {
   align-self: center;
   text-decoration: none;
   padding: 10px 12px;
   color: #ffffff;
   float: left;
   font-size: 32px;
}
nav .boldBlue{
   font-size: larger;
   color: rgb(19, 34, 38);
   background-color: white;
}
/* ------------------------------------------------------------------ */
/* b. page header
/* ------------------------------------------------------------------ */


.pageSummary{
   display:flex;
   justify-content: center;

   
   background-color: rgb(19, 34, 38);
   /* width: 100%; */
   padding: 24px;
   border-bottom: 2px solid #ffffff; 
}
.pageSummary .container{
   display: flex;
   align-items: center;
   flex-direction: column;  
   max-width: 608px;
   font-size: 1.25rem;
}
.pageSummary .container img{

   width: 100px;
   height: 100px;
   background-color: white;
   border-radius: 50%;
   padding: 2px;
}

.pageSummary .container h1{
   margin: 0;
   font-size: 3rem;
}

/* ------------------------------------------------------------------ */
/* b. footer
/* ------------------------------------------------------------------ */

Footer { 
   bottom: 0;
   position: absolute;
   display: flex;
   justify-content: space-between;
   height: 50px;
   background-color: black;
   width: 100%;  
   align-items: center;
   border-top: 2px solid white;   
}
.footer p{

   padding-left: 10px;
   

}
.footer .SocialLinks{
   display: flex;
   flex-direction: row;
   padding-right: 10px;
}
.footer .SocialLinks .name{
   display:none;  
}
.footer .SocialLinks a{
   margin-left: 10px;
}

/* ------------------------------------------------------------------ */
/* c. home
/* ------------------------------------------------------------------ */

#home{
   margin-top: 10%;
   margin-right: 5%;
   margin-left: 5%;
   height: inherit;
   flex-grow: 1;
  
   align-self: baseline;

   font-size: x-large;
   text-align: center;

   display: flex;
   flex-direction: column;
}
#home a{
   align-self: center;
   width: max-content;
}
#home .bottombtn{
   border: none;
   display: block;
   align-self: center;

   background: url(./bottom-button.png);
   width: 50px;
   height: 50px;
   background-size: cover;
}

/* ------------------------------------------------------------------ */
/* d. About
/* ------------------------------------------------------------------ */


#about{
   margin-left: 5%;
   margin-right: 5%;
   display: flex;
   flex-direction: row;
}
#about .bio p{
   font-size: 1rem;
 }
 #about .bio p a{
   color: #0096cc;
 }

 #about .contacts{
   margin-left: 15px;
}
#about .SocialLinks{
   display: flex;
   flex-direction: column;
   justify-content: center;
  
}




#about .SocialLinks a{
   margin-top: 5px;


}
#about .SocialLinks .gitconnected{
   display: none
  
}




/* ------------------------------------------------------------------ */
/* e. projects / experience 
/* ------------------------------------------------------------------ */



#projectspage{
   display: flex;
   flex-direction: column;
   align-items:  center;
}



#projectspage .project{
   max-width: 608px;
   display: flex;
   display: row;
   align-items: flex-start;
   padding-top: 32px;
   padding-bottom: 32px;
   border-bottom: 5px solid white;
   border-width: 1px;
   border-spacing: 15px;
}

#projectspage .project .gif{
   opacity: 100;
   width: 190px;
   border-radius: 10%; 
   padding-left: 16;
   padding-right: 16px;
}

#projectspage .project .information{
   display: flex;
   flex-direction: column;
   height: auto;
   margin-left: 14px;
}

#projectspage .project .information .projectName{
   font-size: 1.75rem;
   margin-top: 0px;
   margin-bottom: 0px;
}
#projectspage .project .information text{
   font-size: .75rem;
}
#projectspage .project .information p{
   font-size: 1rem;
}



/* ------------------------------------------------------------------ */
/* f. experience
/* ------------------------------------------------------------------ */

#experiencepage{

   /* width: 100%; */
   /* height: auto; */
   display: flex;
   flex-direction: column;
   align-items:  center;
}

#experiencepage .link{
   max-width: 608px;
   display: flex;
   display: row;
   align-items: flex-start;
   padding-top: 32px;
   padding-bottom: 32px;
   border-bottom: 5px solid white;
   border-width: 1px;
   border-spacing: 15px;
}

#experiencepage .link .gif{
   opacity: 100;
   width: 200px;
   height: 200px;
   border-radius: 10%; 
   padding-right: 16px;
}

#experiencepage .link .info{
   display: flex;
   flex-direction: column;
   height: auto;
   margin-left: 14px;
}
#experiencepage .link .info .position{
   font-size: 1.75rem;
   margin-top: 0px;
   margin-bottom: 0px;
}
#experiencepage .link .info p{
   font-size: 1rem;
}
#experiencepage .link .info h4{
   margin: 0;
}
#experiencepage .link .info h5{
   margin: 0;
}


/* PHONE LAYOUT... */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
@media only screen and (max-width: 600px) {


/* ------------------------------------------------------------------ */
/* b. page header
/* ------------------------------------------------------------------ */
.pageSummary .container{
   flex-direction: row;
   align-items: flex-start;
   flex-wrap: wrap;
}
.pageSummary .container h1{
   font-size: large;
   
}
/* ------------------------------------------------------------------ */
/* b. footer
/* ------------------------------------------------------------------ */

.footer p{
   padding-left: 10px;
   margin: 0;
   font-size: smaller;
}
/* ------------------------------------------------------------------ */
/* b. Navbar
/* ------------------------------------------------------------------ */


nav {
   display:flex;
   flex-direction: column;
}
nav .header{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
nav .dropbtn{
   border: none;
   display: block;
   align-self: center;
   margin-right: 14px;
   background: url(./hamburger.png);
   width: 50px;
   height: 50px;
   background-size: cover;
}
nav .links{   
   display: none;
}
.active .links{
   padding: 0;
   display: flex;
   flex-direction: column; 
}
nav .links a {
      
   color: white;
   padding: 10px 16px;

   text-decoration: none;
   display: block;
   margin-left: 0;
   border-top: 2px white solid;
}
/* ------------------------------------------------------------------ */
/* c. Home
/* ------------------------------------------------------------------ */

#home{
   margin-top :0%;
   font-size: large;
}

#home h1{
   font-size: x-large;
}
#home p{
   margin: 0;
}
#home .bottombtn{
   margin: 10%;
}


/* ------------------------------------------------------------------ */
/* d. About
/* ------------------------------------------------------------------ */

   

#about {
   
   
   width: auto;
   height: auto;
   display: flex;
   flex-direction: column;
   /* margin-left:0; */
}
#about .contacts{
   margin-left:0px;
}

#about .profile-pic{
   order: 1;
}
#about .bio{
   margin-top: 10px;
   font-size: medium;
}

#about .contacts .SocialLinks{
   /* flex-direction: column;
   flex-wrap: wrap; */
   /* flex-flow: column reverse; */
   flex-flow: column wrap;
   max-height: 100px;



}

#about .contacts .SocialLinks div{
   /* margin-right: 15px; */

   width: max-content;
}
