
/* ===================================================================== */
/*   Layout Stylesheet
/* ===================================================================== 

   Table Of Contents:
   a. General
   b. Navbar
   c. Home
   d. About


/* ===================================================================== */


/* ------------------------------------------------------------------ */
/* a. General
/* ------------------------------------------------------------------ */


html, body, #root{
   height: 100%;
}

body{   /* why does body do the trick buy container doesnt */
   background-color: black;  
   padding: 14px 16px;  
   color: white; 
  



 }

 #root {
    font-family: monospace;
    display: flex;
    flex-direction: column;

 }

body a{
   text-decoration: none;
   color: white;

}

 

/* ------------------------------------------------------------------ */
/* b. navbar
/* ------------------------------------------------------------------ */


nav {
   
   /* justify-content: stretch; */
   display: flex;
   flex-direction: row;

   border: 2px solid rgb(255, 255, 255);
   border-radius: 15px;

 }
 
/* Style the links inside the navigation bar */
nav .links {
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 width: 100%;
 
 /* float: right; */
 /* text-align: end; */
 padding: 14px 16px;

 font-size: 18px;
 
}

/* Change the color of links on hover */
nav .links a:hover {
 font-size:24px;
}
nav .links a{
   margin-left: 14px;
   
   /* margin: 14px; */
}




nav .AraMatthew {
   text-decoration: none;
   padding: 10px 12px;
   color: #ffffff;
   float: left;
   font-size: 32px;
   
}



.curr{  

   display: flex;
   justify-content: center;
   
   height: 100%;
 

}





nav .boldBlue{
   color: #5DBCD2;
}


/* ------------------------------------------------------------------ */
/* c. home
/* ------------------------------------------------------------------ */

#home{
   width: 80%;
   align-self: baseline;
   margin-top: 150px;
   
   font-size: xx-large;
   text-align: center;

}



#home .socialLinks{
   /* padding: 14px; */
   padding-top: 14px;
}


/* ------------------------------------------------------------------ */
/* d. About
/* ------------------------------------------------------------------ */



#about .row{
   
   
   width: 700px;

   /* centered in parent element */
   position: relative; 
   left: 50%;
   transform: translateX(-50%);

   display: flex;
  
   flex-direction: row;

  
}
#about .profile-pic {

   border: 2px solid white;
   align-self: stretch;
   height: 300px;
   margin-right: 20px;
   border-radius: 20px;

 
 }


 #about .feed{
    align-self: stretch;
    font-size: larger;

 }

 #about h1{
    margin: 0;
    font-size: larger;
 }



/* ------------------------------------------------------------------ */
/* e. projects / experience 
/* ------------------------------------------------------------------ */



#projects{

 
   display: flex;
   flex-direction: row;
   justify-content: center;

   /* justify-content: space-between; */
   align-items: flex-start;
   flex-wrap: wrap;


   /* font-size: xx-large; */
   text-align: center;




}

#projects .project{
   /* background: url("https://media.giphy.com/media/gU25raLP4pUu4/giphy.gif") no-repeat; */
   /* background-size: cover; */
   /* opacity: 0; */
   height: 250px;
   width: 250px;
   border: 2px solid;
   border-radius: 10%;
   border-color: white;
   /* padding: 20px 20px; */
   margin: 10px;
   overflow: visible;



   
} 

#projects .project .gif{
   opacity: 100;
   height: 150px;
   width: 200px;
   object-fit: contain;
   border-radius: 10%;
   
   
}

#projects .project p{
   font-size: large;
   opacity: 0;
}




#projects .project:hover p{
   /* font-size: large; */
   opacity: 100;
   vertical-align: middle;
  
}
#projects .project:hover .gif{
   /* font-size: large; */
   /* visibility: hidden; */
   
   display: none;
}

#projects .project:hover{
   /* background: white; */
   color: #5DBCD2;
   border-color: #5DBCD2;
   
}



/* ------------------------------------------------------------------ */
/* f. experience
/* ------------------------------------------------------------------ */


#experience {
 
   display: flex;
   flex-direction: row;

   /* justify-content: space-between; */
   align-items: flex-start;
   flex-wrap: wrap;


   font-size: xx-large;
   text-align: center;
   justify-content: center;





}

#experience .project p{
   opacity: 0;
   font-size: large;
}

#experience img{
   width: 100%;
   border-radius: 10%;
}

#experience .project:hover img{
   display: none;
}
#experience .project:hover p{
   opacity:100;
}


#experience .link{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#experience .project{
   overflow: hidden;
   height: 250px;
   width: 250px;
   border: 2px solid;
   border-radius: 10%;
   border-color: white;
   /* padding: 20px 20px; */
   margin: 10px;

   
} 

#experience .project:hover{
   color: #5DBCD2;
   border-color: #5DBCD2;

}
#experience a:hover .position{
   color:#5DBCD2;
   /* font-size: larger; */
}

#experience .position{
   font-size: large;

}







/* ------------------------------------------------------------------ */
/* g. contact
/* ------------------------------------------------------------------ */



#contact{
   display: flex;
   flex-direction: column;
   align-items: center;

   
}

#contact .title{
   font-size: xx-large;
}

#contact .prompts{
   display: flex;

   flex-direction: row;
   padding: 14px;
   border: 2px solid white;
   border-radius: 14px;
}

#contact .labels{
   font-size: x-large;
   display: flex;
   flex-direction: column;
   padding-right: 14px;
   justify-content: flex-start;

}

#contact .inputs{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
  

}

#contact .submit{
   padding: 14px;
   text-align: center;
}


/* PHONE LAYOUT... */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

@media only screen and (max-width: 600px) {

   /* ------------------------------------------------------------------ */
   /* a. General
   /* ------------------------------------------------------------------ */


   /* ------------------------------------------------------------------ */
   /* b. Navbar
   /* ------------------------------------------------------------------ */
   /* #navbar .curr{
      width: 80%;
      top: 40%;
   } */


   nav {
      display: flex;
      flex-direction: column;

   }

   nav .links{

   
      width: auto;
      padding-left: 0;
      text-align: start;
      justify-content: flex-start;
      
   }
   
 
   nav .links a:hover {
      font-size:18px;
     }


   /* ------------------------------------------------------------------ */
   /* c. Home
   /* ------------------------------------------------------------------ */
   
   #home{
      margin-top:0px;
      font-size: x-large;
   }
   
   #home h1{
      font-size: xx-large;
   }


   #home .socialLinks{
      /* padding: 14px; */

      
   }
   /* ------------------------------------------------------------------ */
   /* d. About
   /* ------------------------------------------------------------------ */

   


   #about {
   
   
      width: auto;
      height: auto;
   
      /* centered in parent element */
      /* position: relative;  */
      /* left: 50%; */
      /* transform: translateX(-50%); */
   
      display: flex;
     
      flex-direction: column;
      
     
   }
   #about .profile-pic{
      order: 1;
   }
   #about .bio{
      margin-top: 10px;
      font-size: medium;
   }
}