
/* ===================================================================== */
/*   Layout Stylesheet
/* ===================================================================== 

   Table Of Contents:
   a. General
   b. Navbar
   c. Home
   d. About


/* ===================================================================== */


/* ------------------------------------------------------------------ */
/* a. General
/* ------------------------------------------------------------------ */

body{   /* why does body do the trick buy container doesnt */
   background-color: black;  
   padding: 14px 16px;  
   color: white; 



 }

 #root {
    font-family: monospace;
    
 }

body a{
   text-decoration: none;
   color: white;

}

 

/* ------------------------------------------------------------------ */
/* b. navbar
/* ------------------------------------------------------------------ */



/* Add a black background color to the top navigation */
#navbar .topnav {
   /* font-family: monospace; */
   /* background-color: #e3e3e3; */
   overflow: hidden;
   border: 2px solid rgb(255, 255, 255);
   border-radius: 15px;
 }
 
/* Style the links inside the navigation bar */
#navbar .topnav .links {
 float: right;
 text-align: center;
 padding: 14px 16px;

 font-size: 18px;
}

/* Change the color of links on hover */
#navbar .topnav .links:hover {
 font-size:24px;
}





#navbar .topnav .AraMatthew {
   text-decoration: none;
   padding: 10px 12px;
   color: #ffffff;
   float: left;
   font-size: 32px;
}



#navbar .curr{  
   margin-left: auto;
   margin-right: auto;



   width: 50%;
   height: 50%;
  
   
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 
}

#navbar .boldBlue{
   color: #5DBCD2;
}


/* ------------------------------------------------------------------ */
/* c. home
/* ------------------------------------------------------------------ */




#home .inner {
   font-size: xx-large;
   text-align: center;
 }
 


/* ------------------------------------------------------------------ */
/* d. About
/* ------------------------------------------------------------------ */



#about .row{
   
   
   width: 700px;

   /* centered in parent element */
   position: relative; 
   left: 50%;
   transform: translateX(-50%);

   display: flex;
   flex-direction: row;

  
}
#about .profile-pic {

   border: 2px solid white;
   align-self: stretch;
   height: 250px;
   margin-right: 20px;
   border-radius: 20px;

 
 }


 #about .feed{
    align-self: stretch;
    font-size: larger;

 }

 #about h1{
    margin: 0;
    font-size: larger;
 }



/* ------------------------------------------------------------------ */
/* e. projects
/* ------------------------------------------------------------------ */



#projects .flexbox{
 
   display: flex;
   flex-direction: row;

   /* justify-content: space-between; */
   align-items: flex-start;
   flex-wrap: wrap;


   font-size: xx-large;
   text-align: center;




}

#projects .project{
   height: 250px;
   width: 250px;
   border: 2px solid;
   border-radius: 10%;
   border-color: white;
   padding: 20px 20px;
   margin: 10px;

   
} 

#projects .project:hover{
   color: pink;
   background-color: yellow;
}



/* ------------------------------------------------------------------ */
/* f. experience
/* ------------------------------------------------------------------ */



