
/* ===================================================================== */
/*   Layout Stylesheet
/* ===================================================================== 

   Table Of Contents:
   a. General
   b. Navbar
   c. Home
   d. About


/* ===================================================================== */


/* ------------------------------------------------------------------ */
/* a. General
/* ------------------------------------------------------------------ */

body{   /* why does body do the trick buy container doesnt */
   background-color: black;  
   padding: 14px 16px;  
   color: white; 



 }

 #root {
    font-family: monospace;
    
 }

body a{
   text-decoration: none;
   color: white;

}

 

/* ------------------------------------------------------------------ */
/* b. navbar
/* ------------------------------------------------------------------ */

#navbar .viewPage{
   display: flex;
   flex-direction: column;
}

/* Add a black background color to the top navigation */
#navbar .topnav {
   /* font-family: monospace; */
   /* background-color: #e3e3e3; */
   overflow: hidden;
   border: 2px solid rgb(255, 255, 255);
   border-radius: 15px;
 }
 
/* Style the links inside the navigation bar */
#navbar .topnav .links {
 float: right;
 text-align: center;
 padding: 14px 16px;

 font-size: 18px;
}

/* Change the color of links on hover */
#navbar .topnav .links:hover {
 font-size:24px;
}





#navbar .topnav .AraMatthew {
   text-decoration: none;
   padding: 10px 12px;
   color: #ffffff;
   float: left;
   font-size: 32px;
}



#navbar .curr{  
   margin-left: auto;
   margin-right: auto;



   width: 50%;
   height: 50%;
  
   
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 
}

#navbar .boldBlue{
   color: #5DBCD2;
}


/* ------------------------------------------------------------------ */
/* c. home
/* ------------------------------------------------------------------ */




#home .inner {
   font-size: xx-large;
   text-align: center;
 }
 


/* ------------------------------------------------------------------ */
/* d. About
/* ------------------------------------------------------------------ */



#about .row{
   
   
   width: 700px;

   /* centered in parent element */
   position: relative; 
   left: 50%;
   transform: translateX(-50%);

   display: flex;
  
   flex-direction: row;

  
}
#about .profile-pic {

   border: 2px solid white;
   align-self: stretch;
   height: 300px;
   margin-right: 20px;
   border-radius: 20px;

 
 }


 #about .feed{
    align-self: stretch;
    font-size: larger;

 }

 #about h1{
    margin: 0;
    font-size: larger;
 }



/* ------------------------------------------------------------------ */
/* e. projects / experience 
/* ------------------------------------------------------------------ */



#projects .flexbox{
 
   display: flex;
   flex-direction: row;

   /* justify-content: space-between; */
   align-items: flex-start;
   flex-wrap: wrap;


   font-size: xx-large;
   text-align: center;




}

#projects .project{
   /* background: url("https://media.giphy.com/media/gU25raLP4pUu4/giphy.gif") no-repeat; */
   /* background-size: cover; */
   /* opacity: 0; */
   height: 250px;
   width: 250px;
   border: 2px solid;
   border-radius: 10%;
   border-color: white;
   padding: 20px 20px;
   margin: 10px;
   overflow: visible;


   
} 

#projects .project .gif{
   opacity: 100;
   height: 150px;
   width: 200px;
   object-fit: contain;
   
   
}

#projects .project p{
   font-size: large;
   opacity: 0;
}



#projects .project:hover p{
   /* font-size: large; */
   opacity: 100;
  
}
#projects .project:hover .gif{
   /* font-size: large; */
   visibility: hidden;
}

#projects .project:hover{
   background: white;
   color: #5DBCD2;
   border-color: #5DBCD2;
   
}



/* ------------------------------------------------------------------ */
/* f. experience
/* ------------------------------------------------------------------ */


#experience .flexbox{
 
   display: flex;
   flex-direction: row;

   /* justify-content: space-between; */
   align-items: flex-start;
   flex-wrap: wrap;


   font-size: xx-large;
   text-align: center;
   justify-content: center;





}

#experience .link{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#experience .project{
  
   height: 250px;
   width: 250px;
   border: 2px solid;
   border-radius: 10%;
   border-color: white;
   padding: 20px 20px;
   margin: 10px;

   
} 

#experience .position{
   font-size: large;

}







/* ------------------------------------------------------------------ */
/* g. contact
/* ------------------------------------------------------------------ */



#contact{
   display: flex;
   flex-direction: column;
   align-items: center;

   
}

#contact .title{
   font-size: xx-large;
}

#contact .prompts{
   display: flex;

   flex-direction: row;
   padding: 14px;
   border: 2px solid white;
   border-radius: 14px;
}

#contact .labels{
   font-size: x-large;
   display: flex;
   flex-direction: column;
   padding-right: 14px;
   justify-content: flex-start;

}

#contact .inputs{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
  

}

#contact .submit{
   padding: 14px;
   text-align: center;
}